<div [formGroup]="model" class="body">
  <div class="register-fields">
    <p class="title-register">CADASTRO</p>

    <div class="flex flex-column gap-1 mt-2">
      <label htmlFor="username">Nome</label>
      <span class="p-input-icon-left">
        <i class="pi pi-id-card"></i>
        <input formControlName="nome" type="text" pInputText />
      </span>
    </div>
    <div class="flex flex-column gap-1 mt-2">
      <label htmlFor="username">Email</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input formControlName="email" type="text" pInputText />
      </span>
      <div *ngIf="model.get('email')?.hasError('emailInvalido') && model.get('email')?.touched" class="p-error">
        Email inválido
      </div>
    </div>
    <div class="flex flex-column gap-1 mt-2">
      <label htmlFor="password">Senha</label>
      <p-password class="password" formControlName="senha" [toggleMask]="true">
      </p-password>
    </div>
    <div class="flex flex-column gap-1 mt-2">
      <label htmlFor="password">Confirma senha</label>
      <p-password class="password" formControlName="confirmarSenha" [toggleMask]="true">
      </p-password>
      <div *ngIf="model.get('confirmarSenha')?.hasError('required') && confirmarSenha" class="p-error">
        Confirmar Senha é obrigatório
      </div>
      <div *ngIf="model.get('confirmarSenha')?.hasError('senhasDiferentes')" class="p-error">
        As senhas não coincidem
      </div>
    </div>
    <div class="mt-4">
      <p-button class="submit" severity="success" [disabled]="model.invalid" icon="pi pi-check" label="Confirmar"
        [rounded]="true"></p-button>
    </div>
  </div>
</div>
