<div>
  <app-header></app-header>

  <div class="centered-container">
    <img [@fadeInUp] src="./assets/images/world.png" alt="">
    <div [@fadeInLeft] class="text-container">
      <h3 class="description">Em 2023, até o presente mês, cerca de 10 milhões de imigrantes já acessaram nossa
        plataforma.</h3>
    </div>
  </div>

  <div class="options">
    <div class="option-item">
      <img src="./assets/images/progress.png" alt="" class="image">
      <p class="titles">Acompanhar o seu progresso</p>
    </div>
    <div class="option-item">
      <img src="./assets/images/materials.png" alt="" class="image">
      <p class="titles">Acessar materiais de estudo</p>
    </div>
    <div class="option-item">
      <img src="./assets/images/questions.png" alt="" class="image">
      <p class="titles">Registrar perguntas/interesses</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
