
.centered-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin-right: 20px;
}

.text-container {
  max-width: 500px;
}

.description {
  font-family: 'Passion One';
  color: #365473;
  font-size: 4rem;
}
