.centered-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin-right: 20px;
}

.text-container {
  max-width: 500px;
}

.description {
  font-family: "Passion One";
  color: #365473;
  font-size: 4rem;
}

.options {
  background-color: #07193f;
  height: 400px;
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}


@media only screen and (max-width: 768px) {
  .options {
      flex-direction: column;
      height: auto;
      padding: 2rem;
      text-align: center;
  }

  .option-item {
      margin-bottom: 1rem;
  }

  .option-item:last-child {
      margin-bottom: 0;
  }
}

.titles {
  padding-top: 1rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.option-item {
  text-align: center;
}

.image {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.titles {
  margin: 5px 0;
}

.image:hover {
  transform: scale(1.1);
}
