<form [formGroup]="model">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 left-column">
        <p class="title-login">LOGIN</p>

        <div class="flex flex-column gap-1">
          <label htmlFor="username">Email</label>
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input formControlName="email" type="text" pInputText />
          </span>
        </div>

        <div class="flex flex-column gap-1 mt-3">
          <label htmlFor="password">Senha</label>
          <p-password [toggleMask]="true">
          </p-password>
        </div>

        <div class="flex flex-column gap-1 mt-3">
          <label htmlFor="selectLanguage">Selecione seu idioma</label>
          <p-dropdown formControlName="idioma" [options]="idiomas" optionLabel="name" [showClear]="true"
            placeholder="Selecione um idioma">
          </p-dropdown>
        </div>

        <div class="mt-3">
          <p-button [disabled]="model.invalid" icon="pi pi-check" label="Confirmar" [rounded]="true"></p-button>
        </div>
      </div>

      <div class="col-md-6 right-column">
        <img [@slideIn] [style.width]="tamanhoDaImagem" src="./assets/images/logo.png" alt="">
      </div>
    </div>
  </div>
</form>
