.left-column {
  height: 100vh;
  color: #fff;
  background-color: #07193F;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.right-column {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.title-login {
  font-family: 'Bebas Neue';
  font-size: 10rem;
}


@media (max-width: 767px) {
  .left-column {
    width: 100%;
  }

  .right-column {
    width: 100%;
  }
}
