.left-column {
  width: 50%;
  height: 100vh;
  color: #fff;
  background-color: #07193F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-login {
  font-family: 'Bebas Neue';
  font-size: 4rem;
}

.right-column {
  width: 50%;
  height: 100vh;
  background-color: #fff;
}

.title-login {
  font-family: 'Bebas Neue';
  font-size: 4rem;
}
