.left-column {
  width: 50%;
  height: 100vh;
  color: #fff;
  background-color: #07193F;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.right-column {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.title-login {
  font-family: 'Bebas Neue';
  font-size: 10rem;
}

.right-column img {
  width: 500px; /* Defina o tamanho desejado para telas grandes */
}

/* Estilos para telas pequenas */
.small-screen img {
  width: 200px; /* Defina o tamanho desejado para telas pequenas */
}
